
<div class="buttons">
    <button>
        <a href="/login">
            Log In
        </a>
    </button>
    <button>
        <a href="/sign-up">
            Sign Up
        </a>
    </button>
</div>
